<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(content, title, menu)">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>

    <link rel="stylesheet" th:href="@{/front/vendor/fontawesome/css/all.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/front/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/front/css/style.css}">
</head>
<body>

<th:block th:replace="/fragments/front :: nav(menu = ${menu})"></th:block>

<div class="container">
    <th:block th:replace="${content}"></th:block>
</div>

<script th:src="@{/front/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/front/js/main.js}"></script>
</body>
</html>