<th:block th:if="${ not #strings.isEmpty(notifierStatus) }">
    <!--<div class="card text-white mb-2 mt-2" th:classappend="${notifierBg}">
        <div class="card-body">
            <span class="font-weight-bold" th:text="${notifierTitle}"></span>
            <div class="text-white" th:text="${notifierMessage}"></div>
        </div>
    </div>-->

    <div
            id="notifierToast"
            class="toast fade top-0 end-0 mt-2 me-2 notifier-toast"
            data-bs-delay="5000"
            data-bs-autohide="true"
    >
        <div class="toast-header" th:classappend="${notifierBg}">
            <i class="me-2 text-light" th:classappend="${notifierIcon}"></i>
            <strong class="me-auto text-light" th:text="${notifierTitle}"></strong>
            <button
                    type="button"
                    class="btn-close btn-close-white"
                    data-bs-dismiss="toast"
                    aria-label="Close"
            ></button>
        </div>
        <div class="toast-body bg-light" th:text="${notifierMessage}"></div>
    </div>
</th:block>
