<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="layouts/front :: layout(content = ~{::section}, title = 'Todo List', menu = 'todo')">
<body>
<section>
    <th:block th:replace="/fragments/notifier" />
    <div class="todo-area container">
        <form th:action="@{/todo/store}" th:object="${todo}" method="POST">
            <div class="row">
                <div class="col-sm-8 mb-3">
                    <div class="input-group">
                        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                        <input id="title" th:field="*{title}" class="form-control" th:classappend="${#fields.hasErrors('title') ? 'is-invalid' : ''}" type="text" placeholder="Enter todo">
                        <button class="btn btn-primary">Add New</button>
                    </div>
                </div>
                <div class="col-sm-4 mb-3">
                    <a th:href="@{/todo/report/pdf}" class="btn btn-outline-primary float-end" target="_blank">
                        <i class="fas fa-file-pdf me-1"></i> PDF
                    </a>
                </div>
            </div>
        </form>
        <th:block th:if="${todos.size() > 0}">
            <div class="row">
                <div class="col-md-4 mb-3" th:each="todo : ${todos}">
                        <div class="card todo-card">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <div>
                                    <i class="fa-check-circle todo-toggle"
                                       th:classappend="${todo.isCompleted ? 'fas text-success' : 'far'}"
                                       th:attr="onclick='handleToggle(' + '\'' + '/todo/' + ${todo.id} + '/toggle-completed' + '?' + ${queryParams} + '\'' + ')'"></i>
                                    <span class="text-dark">|</span>
                                    <i class="fa-star todo-toggle"
                                       th:classappend="${todo.isStarred ? 'fas text-warning' : 'far'}"
                                       th:attr="onclick='handleToggle(' + '\'' + '/todo/' + ${todo.id} + '/toggle-starred' + '?' + ${queryParams} + '\'' + ')'"></i>
                                </div>
                                <form th:action="@{'/todo/' + ${todo.id} + '/destroy'} + '?' + ${queryParams}" th:method="POST">
                                    <button class="btn btn-danger btn-sm text-light float-end">X</button>
                                </form>
                            </div>
                            <a class="todo-link" th:href="@{/todo/{id}/edit(id=${todo.id})}">
                                <div class="card-body">
                                    <h5 th:text="${todo.title}"></h5>
                                    <p class="todo-content" th:text="${todo.details}"></p>
                                </div>
                            </a>
                        </div>
                </div>
            </div>
        </th:block>
    </div>
</section>
</body>
</html>