<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:replace="layouts/front :: layout(content = ~{::section}, title = 'Home', menu = 'home')">
<body>
<section>
    <div class="todo-area">
        <div class="row">
            <div class="col mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5>Total Todo</h5>
                        <h5 th:text="${totalTodo}"></h5>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5>Completed Todo</h5>
                        <h5 th:text="${completedTodo}"></h5>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5>Starred Todo</h5>
                        <h5 th:text="${starredTodo}"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>